body{
  font-family: 'Inter', sans-serif;
  height: 100%;
  background-color: rgb(232,236,244);
}

.app-container{
  position: relative;
  height: 100%;
  padding-bottom: 10rem;
  width: 80vw;
  background-color: white;
  margin: 5rem auto;
}

.header{
  display: inline-flex;
  position: relative;
  margin-left: 42.25%;
  margin-top: 50px;
}

header img{
  height: 47px;
}

header h3{
  margin-block-start: 8px;
  font-size: 1.6em;
}

.initial-page-container, .link-page-container , .user-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  width: 80%;
  /* padding-top: 5.8rem; */
  margin-top: 5rem;

}

.initial-page-container h3,.link-page-container h3,.user-page-container h3{
  font-size: 1.9rem;
    padding-left: 10.2rem;
}

.initial-page-container h4 ,.link-page-container h4,.user-page-container h4{
  margin-left: 8.5rem;
  margin-top: 0px;
  opacity: 0.4;
}

.initial-page-display-label , .workspace-url-label{
  
  margin-top: 25px;
}

.initial-page-container label , .link-page-container label{
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
}

.initial-page-fields , .link-page-fields{
  display: flex;
  flex-direction: column;
  width: 41%;
  margin-top: 30px;
  margin-left: 9.813rem;
}
.initial-page-display-field.invalid ,.initial-page-name-field.invalid,.workspace-name-field.invalid ,.link-page-url-field.invalid{
  border: 2px solid red;
}



.initial-page-fields input , .link-page-fields input{
  border-radius: 1px;
  border: 1px solid rgba(235, 232, 232, 0.799);
  width: 100%;
    height: 40px;
}

.initial-page-fields input::placeholder , .link-page-fields input::placeholder{
  padding-left: 5px;
  opacity: 0.5;
}

.submit{
  margin-top: 25px;
  height: 40px;
  background-color: rgb(102,77,229);
  color: rgb(237,235,253);
  border-radius: 7px;
  font-weight: 600;

}

.RSPBprogressBar{
  width: 37%;
  margin-top: 30px;
  /* top: 11%; */
  left: 30%;
}

.indexedStep{
  color: white;
  width: 40px;
  height: 40px;
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.indexedStep.accomplished {
  background-color: rgb(102,77,229);
}


span.link-page-url{
  border: 1px solid rgb(248,249,252);
  background-color: rgb(248,249,252);
  display: inline-block;
  font-weight: 200;
  height: 32px;
}

.workspace-name-field{
  width: 410px;
}

.linkpage-url-field{
width: 280px;
}

.link-page-fields{
  margin-left: 10.913rem;
}

.user-card-heading{
  opacity: 1;
}

.solo-user-card-container , .group-user-card-container{
  border: 1px solid rgba(216, 211, 211, 0.35);
  border-radius: 4px;
   
  height: 220px;
  width: 220px;
  display: block;
}

.solo-user-card-container img , .group-user-card-container img{
  margin-left: 26px;
  margin-top: 20px;
}

.solo-user-card-container h4 , .group-user-card-container h4{
  margin-left: 23px;
    opacity: 1;
}

.solo-user-card-container p , .group-user-card-container p{
  opacity: 0.5;
  margin-left: 19px;
}

.user-page-container h4:first-child{
  margin-left: 160px;
}

.user-cards-container{
  margin-top: 35px;
  margin-left: 50%;
  width: 90%;
  display: inherit;
  gap: 9%;
}

.solo-user-card-container:focus , .group-user-card-container:focus{
 border:  1px solid rgb(102,77,229);
}

.user-page-container .submit{
  width: 53%;
  margin-left: 13%;
  margin-top: 57px;
}

.success-page-container{
  margin-top: 100px;
  margin-left: 45%;
  width: 80%;
}

.success-page-container h3{
  margin-left: -10%;
  width: 45%;
  font-size: 28px;
}

.success-page-container h4{
  opacity: 0.4;
  width: 50%;
  margin-left: -18%;

}

.success-page-container button{
  width: 49%;
  margin-left: -18%;
  margin-top: 10px;

}


.success-logo{
  width: 80px;
}

input:focus::placeholder{
  color: transparent;
}

.error-message{
  margin-top: 4px;
    color: #D8000C;
}




